<li class='film' data-tmdb-id='<%= film.tmdb_id %>' data-added='<%= film.created_at %>'
    data-list-id='<%= list.id %>' data-film-id='<%= film.id %>'>
    <strong><%= film.title %></strong>
    <span class="metadata rating"><%= film.rating %></span>
    <span class="metadata added">added <%= time_ago_in_words film.created_at %> ago</span>

    <% if user_signed_in? and current_user.has_seen?(film) %>
        <%= link_to 'Unwatch', watch_list_film_path(list.id, film.id), class: 'watchable' %>
    <% else %>
        <%= link_to 'Watch', unwatch_list_film_path(list.id, film.id), class: 'watchable seen' %>
    <% end %>
</li>